{{ $bc :=  .Breadcrumb }}
{{ if $bc }}
{{ $length := len $bc }}
<div class="ons-page__container ons-container">
    <nav
        class="ons-breadcrumb print--hide"
        aria-label="Breadcrumbs"
    >
        <ol class="ons-breadcrumb__items ons-u-fs-s">
            {{ range $i, $b := $bc }}
            <li class="ons-breadcrumb__item ons-u-p-no">
                {{ if $b.URI }}
                <a
                    class="ons-breadcrumb__link"
                    href="{{ $b.URI }}"
                >{{ $b.Title }}</a>
                {{ else }}
                {{ $b.Title }}
                {{ end }}
                {{ template "icons/chevron-right" }}
            </li>
            {{ end }}
        </ol>
    </nav>
</div>
{{ end }}
