<script>

    // unescape html entities
    function htmlUnescape(str) {
        return str.replace(/&#x3D;/g, "=");
    }

    dataLayer = [{
        "gtm.whitelist": ["google", "hjtc", "lcl"],
        "gtm.blacklist": ["customScripts", "sp", "adm", "awct", "k", "d", "j"],
    {{ if .DatasetTitle }}
        "contentTitle": htmlUnescape({{ .DatasetTitle }}),
        "filterTitle": htmlUnescape({{ .Metadata.Title }}),
    {{ else }}
        "contentTitle": htmlUnescape({{ .Metadata.Title }}),
    {{ end }}
    {{ if .ReleaseDate }}
        "releaseDate": {{ dateFormatYYYYMMDD .ReleaseDate }},
    {{ end }}
    {{ if eq .Type "search" }}
        "numberOfResults": {{ .Count }},
        "resultsPage": {{ .Pagination.CurrentPage }},
    {{ end }}
    {{ if .ABTest.GTMKey }}
        "abTest": {{ .ABTest.GTMKey }},
    {{ end }}
    {{ if .Type }}
        "contentType": {{ .Type }},
    {{ end }}
    {{ if .DatasetId }}
        "datasetID": {{ .DatasetId }},
    {{ end }}
    }];

</script>
