<footer class="print--hide padding-top--13">
   <section>
      <h2 class="visuallyhidden">{{ localise "FooterLinks" .Language 1 }}</h2>
      <div class="footer">
         <div class="wrapper">
            <nav aria-label="Footer links">
               <div class="footer-nav col-wrap">
                  <div class="col col--lg-one-third col--md-one-third">
                     {{ template "partials/footer/connect-with-us" . }}
                  </div>
               </div>
            </nav>
         </div>
         <div class="wrapper">
            <hr class="ons-footer__hr">
            <div class="footer-license">
               {{ template "icons/ogl" }}
               <p class="footer-license__text margin-left-sm--0">
                  {{ localise "OGLFull" .Language 4 | safeHTML }}
               </p>
            </div>
         </div>
      </div>
   </section>
</footer>
