/* breakpoints.scss */

@mixin breakpoint($class) {
  @if $class == xs {
    @media (width <= 300px) {
      @content;
    }
  } @else if $class == sm {
    @media (width <= 739px) {
      @content;
    }
  } @else if $class == md {
    @media (width >= 740px) {
      @content;
    }
  } @else if $class == md-max {
    @media (width <= 768px) {
      @content;
    }
  } @else if $class == lg {
    @media (width >= 980px) {
      @content;
    }
  }
}
